profiles {
    micromamba {
        conda.enabled = true
        conda.useMicromamba = true
        docker.enabled = false
        singularity.enabled = false
        env.CONDA_MANAGEMENT = 'micromamba'
        params.create_conda_envs = true
        params.amrfinder_db_preinstalled = false
    }
    conda {
        conda.enabled = true
        docker.enabled = false
        singularity.enabled = false
        conda.createOptions = '--solver=libmamba'
        env.CONDA_MANAGEMENT = 'conda'
        params.create_conda_envs = true
        params.amrfinder_db_preinstalled = false
    }
    docker {
        docker.enabled = true
        docker.runOptions = '-u \$(id -u):\$(id -g)'
        conda.enabled = false
        singularity.enabled = false
        params.create_conda_envs = false
        params.amrfinder_db_preinstalled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true 
        docker.enabled = false
        conda.enabled = false
        params.create_conda_envs = false
        params.amrfinder_db_preinstalled = false
    }
}

executor {
    name = 'local'
    cpus   = 10      
    memory = '28 GB'
}

process {
    executor = 'local'
}

process {
    withName: CREATE_CONDA_ENVS {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }
    withName: MGNIFY_PLOTS {
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
        container = 'pedro7737/pedro_antismash_bigscape:1.0'
    }

    withName: MGNIFY_DOWNLOAD {
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
        container = 'pedro7737/pedro_antismash_bigscape:1.0'
    }
    withName: ANTISMASH {
        maxForks = 4
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
        container = 'pedro7737/pedro_antismash_bigscape:1.0'
    }
    withName: DOWNLOAD_ANTISMASH_DB {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        executor = 'local'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
        container = 'pedro7737/pedro_antismash_bigscape:1.0'
    }
    withName: DOWNLOAD_KOFAM_DB {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        executor = 'local'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
        container = 'pedro7737/pedro_antismash_bigscape:1.0'
    }
    withName: DOWNLOAD_PFAM_DB {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        executor = 'local'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
        container = 'pedro7737/pedro_antismash_bigscape:1.0'
    }
        withName: DOWNLOAD_COG_DB {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        executor = 'local'
        conda = "${projectDir}/envs/poem_py3_updated.yml"
        container = 'pedro7737/pedro_poem:4.0'
    }
    withName: UNITING_ALL_GBKS {
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
        container = 'pedro7737/pedro_antismash_bigscape:1.0'
    }
        withName: BGC_PLOTS {
        maxForks = 4
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
        container = 'pedro7737/pedro_antismash_bigscape:1.0'
    }
    withName: BIGSCAPE {
        maxForks = 4
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
        container = 'pedro7737/pedro_antismash_bigscape:1.0'
    }
    withName: FILTERING_BIGSCAPE_RESULTS {
        maxForks = 4
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
        container = 'pedro7737/pedro_antismash_bigscape:1.0'
    }
    withName: DEEPSEA {
        beforeScript = 'export LD_LIBRARY_PATH="${projectDir}/envs/deepsea-project/lib:\$LD_LIBRARY_PATH"'
        maxForks = 2
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/deepsea_project_updated.yml"
        container = 'pedro7737/pedro_deepsea:1.0'
    }
    withName: FILTERING_DEEPSEA_RESULTS {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/deepsea_project_updated.yml"
        container = 'pedro7737/pedro_deepsea:1.0'
    }
    withName: KOFAM {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/diamond_kofam_updated.yml"
        container = 'pedro7737/pedro_diamond_kofam:1.0'
    }
    withName: FILTERING_KOFAM_RESULTS {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/diamond_kofam_updated.yml"
        container = 'pedro7737/pedro_diamond_kofam:1.0'
    }
    withName: RENAME_FASTA {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/diamond_kofam_updated.yml"
        container = 'pedro7737/pedro_diamond_kofam:1.0'
    }
    withName: RENAME_FAA {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/diamond_kofam_updated.yml"
        container = 'pedro7737/pedro_diamond_kofam:1.0'
    }
    withName: POEM {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/poem_py3_updated.yml"
        container = 'pedro7737/pedro_poem:4.0'
        // beforeScript = 'eval "\$(micromamba shell hook --shell bash)"; micromamba activate poem_py3'
    }
    withName: FILTERING_POEM_RESULTS {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        container = 'pedro7737/pedro_antismash_bigscape:1.0'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
    }
    withName: EXTRACTING_GBKS_SEQUENCES {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        container = 'pedro7737/pedro_antismash_bigscape:1.0'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
    }
    withName: EXTRACTING_GBKS_CDS {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        container = 'pedro7737/pedro_antismash_bigscape:1.0'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
    }
    withName: DIAMOND {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/diamond_kofam_updated.yml"
        container = 'pedro7737/pedro_diamond_kofam:1.0'
    }
    withName: FILTERING_DIAMOND_RESULTS {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/diamond_kofam_updated.yml"
        container = 'pedro7737/pedro_diamond_kofam:1.0'
    }
    withName: CONCAT_ALL_RESULTS {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
        container = 'pedro7737/pedro_antismash_bigscape:1.0'
    }
    withName: AMRFINDER {
        maxForks = 4
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/amrfinder.yml"
        container = 'pedro7737/amrfinder:1.0'
    }
    withName: FILTERING_AMRFINDER_RESULTS {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/amrfinder.yml"
        container = 'pedro7737/amrfinder:1.0'
    }
    withName: DOWNLOAD_AMRFINDER_DB {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/amrfinder.yml"
        container = 'pedro7737/amrfinder:1.0'
    }
}

params.max_pages = 1
params.output_prefix = "aquatic"
params.pfam_db = "${baseDir}/databases/Pfam-A.hmm"
params.antismash_db = "${projectDir}/databases/antismash"
params.kofam_db = "${projectDir}/databases"
params.pfam_db = "${projectDir}/databases"
params.cog_db = "${projectDir}/POEM_py3k/database"
