profiles {
    micromamba {
        conda.enabled = true
        conda.condaManager = 'micromamba'
        conda.mambaExecutable = 'micromamba'
        docker.enabled = false
        singularity.enabled = false
    }
    conda {
        conda.enabled = true
        conda.condaManager = 'conda' 
        docker.enabled = false
        singularity.enabled = false
        conda.options = '--solver=libmamba'
    }
    docker {
        docker.enabled = true
        docker.runOptions = '-u \$(id -u):\$(id -g)'
        conda.enabled = false
        singularity.enabled = false
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true 
        docker.enabled = false
        conda.enabled = false
    }
}

executor {
    name = 'local'
    cpus   = 10      
    memory = '28 GB'
}

process {
    executor = 'local'
}

process {

    withName: MGNIFY_DOWNLOAD {
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
        container = 'docker://pedro7737/patfinder-antismash'
    }
    withName: ANTISMASH {
        maxForks = 4
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
        container = 'docker://pedro7737/patfinder-antismash'
    }
    withName: DOWNLOAD_ANTISMASH_DB {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        executor = 'local'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
        container = 'docker://pedro7737/patfinder-antismash'
    }
    withName: DOWNLOAD_KOFAM_DB {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        executor = 'local'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
        container = 'docker://pedro7737/patfinder-antismash'
    }
    withName: DOWNLOAD_PFAM_DB {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        executor = 'local'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
        container = 'docker://pedro7737/patfinder-antismash'
    }

    withName: UNITING_ALL_GBKS {
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
        container = 'docker://pedro7737/patfinder-antismash'
    }
    withName: BIGSCAPE {
        maxForks = 4
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
        container = 'docker://pedro7737/patfinder-antismash'
    }
    withName: FILTERING_BIGSCAPE_RESULTS {
        maxForks = 4
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
        container = 'docker://pedro7737/patfinder-antismash'
    }
    withName: DEEPSEA {
        beforeScript = 'export LD_LIBRARY_PATH="${projectDir}/envs/deepsea-project/lib:\$LD_LIBRARY_PATH"'
        maxForks = 2
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/deepsea_project_updated.yml"
    }
    withName: FILTERING_DEEPSEA_RESULTS {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/deepsea_project_updated.yml"
    }
    withName: KOFAM {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/diamond_kofam_updated.yml"
    }
    withName: FILTERING_KOFAM_RESULTS {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/diamond_kofam_updated.yml"
    }
    withName: RENAME_FASTA {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/diamond_kofam_updated.yml"
    }
    withName: RENAME_FAA {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/diamond_kofam_updated.yml"
    }
    withName: POEM {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/poem_py3_updated.yml"
        // beforeScript = 'eval "\$(micromamba shell hook --shell bash)"; micromamba activate poem_py3'
    }
    withName: FILTERING_POEM_RESULTS {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
    }
    withName: EXTRACTING_GBKS_SEQUENCES {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
    }
    withName: EXTRACTING_GBKS_CDS {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/antismash_bigscape_updated.yml"
    }
    withName: DIAMOND {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/diamond_kofam_updated.yml"
    }
    withName: FILTERING_DIAMOND_RESULTS {
        maxForks = 1
        cpus = 4
        memory = '16 GB'
        time = '24h'
        conda = "${projectDir}/envs/diamond_kofam_updated.yml"
    }
}

params.max_pages = 1
params.output_prefix = "aquatic"
params.pfam_db = "${baseDir}/databases/Pfam-A.hmm"
params.antismash_db = "${projectDir}/databases/antismash"
params.kofam_db = "${projectDir}/databases"
params.pfam_db = "${projectDir}/databases"
