conda.enabled = true
conda.useMicromamba = true

executor {
    name = 'local'
    cpus   = 10      
    memory = '28 GB'
}

process {
    withName: MGNIFY_DOWNLOAD {
        cpus = 6
        memory = '16 GB'
        time = '24h'
        conda = '/home/pedro/micromamba/envs/antismash_bigscape'
    }
    withName: ANTISMASH {
        maxForks = 4
        cpus = 6
        memory = '16 GB'
        time = '24h'
        conda = '/home/pedro/micromamba/envs/antismash_bigscape'
    }
    withName: UNITING_ALL_GBKS {
        cpus = 6
        memory = '16 GB'
        time = '24h'
        conda = '/home/pedro/micromamba/envs/antismash_bigscape'
    }
    withName: BIGSCAPE {
        maxForks = 4
        cpus = 6
        memory = '16 GB'
        time = '24h'
        conda = '/home/pedro/micromamba/envs/antismash_bigscape'
    }
    withName: FILTERING_BIGSCAPE_RESULTS {
        maxForks = 4
        cpus = 6
        memory = '16 GB'
        time = '24h'
        conda = '/home/pedro/micromamba/envs/antismash_bigscape'
    }
    withName: DEEPSEA {
        beforeScript = 'export LD_LIBRARY_PATH="/home/pedro/micromamba/envs/deepsea-project/lib:\$LD_LIBRARY_PATH"'
        maxForks = 2
        cpus = 6
        memory = '16 GB'
        time = '24h'
        conda = '/home/pedro/micromamba/envs/deepsea-project'
    }
    withName: FILTERING_DEEPSEA_RESULTS {
        maxForks = 1
        cpus = 6
        memory = '16 GB'
        time = '24h'
        conda = '/home/pedro/micromamba/envs/deepsea-project'
    }
    withName: KOFAM {
        maxForks = 1
        cpus = 6
        memory = '16 GB'
        time = '24h'
        conda = '/home/pedro/micromamba/envs/diamond_kofam'
    }
    withName: FILTERING_KOFAM_RESULTS {
        maxForks = 1
        cpus = 6
        memory = '16 GB'
        time = '24h'
        conda = '/home/pedro/micromamba/envs/diamond_kofam'
    }
    withName: RENAME_FASTA {
        maxForks = 1
        cpus = 6
        memory = '16 GB'
        time = '24h'
        conda = '/home/pedro/micromamba/envs/diamond_kofam'
    }
    withName: RENAME_FAA {
        maxForks = 1
        cpus = 6
        memory = '16 GB'
        time = '24h'
        conda = '/home/pedro/micromamba/envs/diamond_kofam'
    }
        withName: POEM {
        maxForks = 1
        cpus = 6
        memory = '16 GB'
        time = '24h'
        conda = '/home/pedro/micromamba/envs/poem_py3'
    }
        withName: FILTERING_POEM_RESULTS {
        maxForks = 1
        cpus = 6
        memory = '16 GB'
        time = '24h'
        conda = '/home/pedro/micromamba/envs/poem_py3'
    }
            withName: EXTRACTING_GBKS_SEQUENCES {
        maxForks = 1
        cpus = 6
        memory = '16 GB'
        time = '24h'
        conda = '/home/pedro/micromamba/envs/poem_py3'
    }
}

process {
    executor = 'local'
}

docker {
    enabled = false
}

singularity {
    enabled = false
}

params.max_pages = 1
params.output_prefix = "aquatic"
params.pfam_db = "${baseDir}/databases/Pfam-A.hmm"
