process {
    withName: MGNIFY_DOWNLOAD {
        cpus = 6
        memory = '16 GB'
        time = '24h'
    }
    withName: ANTISMASH {
        maxForks = 4
        cpus = 6
        memory = '16 GB'
        time = '24h'
    }
    withName: UNITING_ALL_GBKS {
        cpus = 6
        memory = '16 GB'
        time = '24h'
    }
        withName: BIGSCAPE {
        maxForks = 4
        cpus = 6
        memory = '16 GB'
        time = '24h'
    }
            withName: FILTERING_BIGSCAPE_RESULTS {
        maxForks = 4
        cpus = 6
        memory = '16 GB'
        time = '24h'
    }
}

process {
    executor = 'local'
}

docker {
    enabled = false
}

singularity {
    enabled = false
}

params.max_pages = 1
params.output_prefix = "aquatic"
params.pfam_db = "${baseDir}/Pfam-A.hmm"
